#row .col-lg-6 left{
    display: flex;
    padding-top: 50px;
}

.col-lg-6 right .img{
     padding-top: 50px;
}

.intro-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.d-flex .button{
    padding-top: 50px;
    font-size: 200px
}
